:root{
--pink: #FF87CF;
font-family: 'Bebas Neue';

}

body{
    background-color: #FF87CF;
}

.top{
    position: absolute;
    width: 1822px;
    height: 1024px;
    left: -160px;
    top: 0px;
    
    background: url(background.jpeg);
}

.mainheading{
    position: absolute;
    width: 1395px;
    height: 306px;
    left: 170px;
    top: 242px;
    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 300px;
    line-height: 360px;
    text-align: right;
    
    color: #FF87CF;
    z-index: 1;
}

.credits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FF87CF;
z-index: 1;
}

.credits :nth-child(1){
    position: absolute;
width: 413px;
height: 383px;
left: 390px;
top: 591px;
}

.credits :nth-child(2){
    position: absolute;
width: 410px;
height: 383px;
left: 859px;
top: 591px;

}

.credits :nth-child(3){
    position: absolute;
width: 414px;
height: 383px;
left: 1320px;
top: 591px;

}

.photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: absolute;
    width: 1610px;
    height: 900px;
    top: 1040px;
    left: 20px;


}

.photo-grid :nth-child(1){
    left: 23px;
top: 1051px;
background: url(one.png);
background-size: cover;
}
.photo-grid :nth-child(2){
    left: 722px;
    top: 1051px;
background: url(two.png);
background-size: cover;
}
.photo-grid :nth-child(3){
    left: 722px;
    top: 1051px;
background: url(three.png);
background-size: cover;
}
.photo-grid :nth-child(4){
    left: 722px;
    top: 1051px;
background: url(four.png);
background-size: cover;
}
.photo-grid :nth-child(5){
    left: 722px;
    top: 1051px;
background: url(five.png);
background-size: cover;
}
.photo-grid :nth-child(6){
    left: 722px;
    top: 1051px;
background: url(six.png);
background-size: cover;
}

.quote{
    position: absolute;
width: 1388px;
height: 99px;
left: 93px;
top: 1927px;

font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;


color: #000000;
}